:root {
  --negro: #1A1A2E;
  --azul-nebuloso: #2E3B4E;
  --morado: #6A4C93;
  --verde-estelar: #00F9A0;
  --amarillo-estrella: #FFB732;
  --blanco-estelar: #F1F1F1;
  --rojo-peligro: #E94560;
  --azul-cielo-interestelar: #4A90E2;

  --font-title: 'Bungee', cursive;
  --font-subtitle: 'Audiowide', cursive;
  --font-button: 'Orbitron', sans-serif;
  --font-text: 'Zilla Slab', serif;
}

body {
  background-color: var(--negro);
  color: var(--blanco-estelar);
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

/* fondo animado*/
@keyframes move-twink-back {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}
.stars, .stars2, .stars3 {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  display: block;
  z-index: 0; 
}
.stars{
  background: #000 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat top center;
  animation: move-twink-back 200s linear infinite;
}
.stars2{
  background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png) repeat top center;
  animation: move-twink-back 150s linear infinite;
}
.stars3{
  background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds.png) repeat top center;
  animation: move-twink-back 100s linear infinite;
}

/* Loading */
.loading-screen {
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
  position: absolute; z-index: 20;
  background-image: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: var(--negro);
  transition: opacity 0.5s ease-out;
}
.loading-screen::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.3); 
z-index: 0; 
}
.planet-container {
  width: 650px; height: 650px;
  background: radial-gradient(circle at 70% 20%, var(--amarillo-estrella), var(--morado) 70%);
  border-radius: 50%;
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  box-shadow: 0 0 60px var(--morado), inset 0 0 80px rgba(0,0,0,0.5);
  z-index: 1;
}
.loading-title {
  font-family: var(--font-title); font-size: 68px;
  text-shadow: 0 0 20px var(--verde-estelar); margin-bottom: 25px;
  letter-spacing: 10px;
}
.start-button {
  font-family: var(--font-button); font-size: 32px;
  padding: 20px 50px; border-radius: 50px; border: 3px solid var(--verde-estelar);
  background-color: rgba(46, 59, 78, 0.8); color: var(--blanco-estelar);
  cursor: pointer; transition: all 0.3s ease;
}
.start-button:hover {
  background-color: var(--verde-estelar); color: var(--negro);
  box-shadow: 0 0 35px var(--verde-estelar); transform: scale(1.05);
}
/*editor de grafo*/
.graph-editor {
  width: 100%; height: 100%;
  position: absolute; opacity: 0;
  transition: opacity 0.5s ease-in;
}
.graph-editor.visible { opacity: 1; }

.main-header {
  position: absolute; top: 20px; left: 50%;
  transform: translateX(-50%); text-align: center; z-index: 10;
  background: rgba(26, 26, 46, 0.65); 
  padding: 10px 200px; border-radius: 15px;
  border: 2px solid var(--azul-cielo-interestelar);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 20px var(--morado);
}
.main-header .title {
  font-family: var(--font-title); color: var(--verde-estelar);
  font-size: 36px;
  text-shadow: 0 0 12px var(--verde-estelar); margin: 0;
  letter-spacing: 10px;
}
.main-header .subtitle {
  font-family: var(--font-subtitle); color: var(--blanco-estelar);
  font-size: 16px; 
  margin: 5px 0 0 0;
}
.tour-restart-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 101; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--verde-estelar);
    color: var(--negro);
    border: none;
    font-family: var(--font-title);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-to-home-button {
    position: fixed;
    top: 20px;
    left: 70px; 
    z-index: 101;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--amarillo-estrella);
    color: var(--negro);
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menú */
.sidebar-container {
  position: absolute; top: 50%; left: 60px;
  transform: translateY(-50%);
  background: rgba(26, 26, 46, 0.65);
  padding: 20px; border-radius: 15px;
  border: 2px solid var(--amarillo-estrella);
  display: flex; flex-direction: column; gap: 12px;
  backdrop-filter: blur(8px);
  z-index: 10; box-shadow: 0 0 20px var(--morado);
  width: 300px;
}
.sidebar-button {
  font-family: var(--font-button); background-color: var(--azul-nebuloso);
  color: var(--blanco-estelar); border: 2px solid var(--verde-estelar);
  padding: 12px 15px; border-radius: 8px; cursor: pointer;
  transition: all 0.3s ease; font-size: 14px; text-align: left;
  display: flex; align-items: center; gap: 10px;
  position: relative;
  overflow: hidden;
}
.sidebar-button:hover:not(:disabled) {
  transform: translateY(-3px); 
  box-shadow: 0 0 20px var(--verde-estelar);
}
.sidebar-button::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(
      -45deg, 
      rgba(255, 255, 255, 0) 0%, 
      rgba(255, 255, 255, 0.3) 50%, 
      rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(45deg);
  transition: all 0.4s ease;
  opacity: 0;
}
.sidebar-button:hover::after {
  transform: translate(30%, -30%) rotate(45deg);
  opacity: 1;
}
.sidebar-button.active-mode {
  background-color: var(--verde-estelar);
  color: var(--negro);
  box-shadow: 0 0 15px var(--verde-estelar);
}
.sidebar-button:disabled { cursor: not-allowed; opacity: 0.5; }
.sidebar-separator { height: 2px; background-color: var(--azul-nebuloso); margin: 5px 0; border: none; }
.sidebar-label {
    font-family: var(--font-button);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--verde-estelar);
    margin: 10px 0 5px 0;
    padding: 0 15px;
}
.sidebar-button-group {
    display: flex;
    padding: 0 15px;
    gap: 5px;
}
.sidebar-button-small {
    flex: 1;
    font-family: var(--font-button);
    background-color: var(--azul-nebuloso);
    color: var(--blanco-estelar);
    border: 1px solid var(--verde-estelar);
    padding: 8px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 12px;
}
.sidebar-button-small:hover {
    background-color: var(--morado);
}
.sidebar-button-small.active {
    background-color: var(--verde-estelar);
    color: var(--negro);
    font-weight: bold;
}
.sidebar-submenu {
    background-color: rgba(46, 59, 78, 0.5); /* Un fondo ligeramente diferente */
    padding-bottom: 15px;
    margin-top: -5px; /* Para que se junte con el botón principal */
    border-radius: 0 0 8px 8px;
    animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.checkbox-container {
  font-family: var(--font-button); display: flex; align-items: center;
  gap: 10px; cursor: pointer; padding: 10px; color: var(--blanco-estelar);
  border-radius: 8px; transition: background-color 0.2s ease;
}
.checkbox-container:hover { background-color: var(--azul-nebuloso); }
.checkbox-container input { width: 18px; height: 18px; accent-color: var(--verde-estelar); }

/* react flow*/
/* Pizarra */
.react-flow__pane {
  background: transparent;
}
.react-flow__pane::before {
  content: ''; position: absolute; top: 50%; left:75%;
  width: 1200px; height: 1200px;
  background-image: url('https://cdn.pixabay.com/photo/2016/11/18/23/41/sun-1837376_1280.png');
  background-size: contain; background-repeat: no-repeat;
  background-position: center; transform: translate(-70%, -50%);
  opacity: 0.4; z-index: -1;
}

/* nodos como planeta*/
.planet-node {
  display: flex; justify-content: center; align-items: center;
  color: var(--blanco-estelar); font-family: var(--font-text);
  font-weight: bold;
  font-size: 25px;
  text-align: center; padding: 5px; cursor: grab;
  word-break: break-word; border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
  text-shadow: 0 0 5px black; 
}

/*modal para editar nodo*/
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal-content {
  background: var(--negro);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid var(--amarillo-estrella);
  box-shadow: 0 0 30px var(--morado);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
.modal-content h2 {
  font-family: var(--font-title);
  color: var(--verde-estelar);
  margin: 0;
  text-align: center;
}
.modal-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-input-group label {
  font-family: var(--font-button);
}
.modal-input-group input {
  font-family: var(--font-text);
  padding: 8px;
  border-radius: 5px;
  border: 2px solid var(--azul-nebuloso);
  background: var(--negro);
  color: var(--blanco-estelar);
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.modal-button {
  flex-grow: 1;
  padding: 10px;
  font-family: var(--font-button);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.save-button {
  background-color: var(--verde-estelar);
  color: var(--negro);
  border: none;
}
.cancel-button {
  background-color: var(--rojo-peligro);
  color: var(--blanco-estelar);
  border: none;
}
.adding-edge-mode .react-flow__pane {
  cursor: crosshair;
}
.react-flow__edge-textbg {
  fill: var(--azul-nebuloso);
}

.react-flow__edge-text {
  font-size: 16px;
  fill: var(--amarillo-estrella);
  font-weight: bold;
}
/* Estilos para matriz*/
.matrix-modal-content {
  background: var(--negro);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid var(--verde-estelar);
  box-shadow: 0 0 30px var(--morado);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
  max-width: 80vw; 
  max-height: 80vh; 
  overflow: hidden; 
}
.matrix-modal-content h2 {
  font-family: var(--font-title);
  color: var(--verde-estelar);
  margin: 0;
  text-align: center;
}
.matrix-container {
  overflow: auto; 
}
.matrix-modal-content table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--font-button);
}
.matrix-modal-content th, .matrix-modal-content td {
  border: 1px solid var(--azul-nebuloso);
  padding: 12px;
  text-align: center;
  min-width: 60px;
}
.matrix-modal-content th {
  background-color: var(--azul-nebuloso);
  color: var(--amarillo-estrella);
  font-size: 14px;
}
.matrix-modal-content td {
  color: var(--blanco-estelar);
  font-size: 16px;
  font-weight: bold;
}
.matrix-modal-content .modal-buttons {
  justify-content: center;
}

/* Welcome page */
.welcome-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--blanco-estelar);
  text-align: center;
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
}

.welcome-prompt {
  background: rgba(26, 26, 46, 0.9);
  padding: 60px;
  border-radius: 20px;
  border: 5px solid var(--amarillo-estrella);
  box-shadow: 0 0 50px var(--morado);
  max-width: 500px;
}
.welcome-prompt h2 {
  font-family: var(--font-title);
  color: var(--amarillo-estrella);
  margin-bottom: 30px;
}
.welcome-prompt.thanks h2 {
    color: var(--verde-estelar);
}
.prompt-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}
.prompt-buttons button {
  padding: 10px 30px;
  font-family: var(--font-button);
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid;
  transition: all 0.3s ease;
}
.prompt-buttons button:first-child {
  background-color: var(--verde-estelar);
  color: var(--negro);
  border-color: var(--verde-estelar);
}
.prompt-buttons button:first-child:hover { 
  background-color: #6ee5b8; 
  border-color: #6ee5b8;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,255,150,0.4);
}
.prompt-buttons button:last-child {
  background-color: transparent;
  color: var(--rojo-peligro);
  border-color: var(--rojo-peligro);
}
.prompt-buttons button:last-child:hover { 
  background-color: rgba(255,0,0,0.1);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255,0,0,0.4);
}
/* planetas sistema */
.planet-system {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.planet-system h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    color: var(--amarillo-estrella);
}
.explore-title { 
    font-family: var(--font-title);
    font-size: 3rem;
    color: var(--amarillo-estrella);
    position: absolute; 
    top: -180px; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; 
    margin-bottom: 50px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3ef7c8,
     0 0 40px #007bff;
    animation: pulsate 1.5s infinite alternate;
}
@keyframes pulsate {
  100%{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3ef7c8, 0 0 40px #007bff;
  }
}
.planets-container { 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    overflow-x: auto;
    width: 95%; 
    padding: 20px 0;
    scrollbar-color: var(--amarillo-estrella) var(--azul-nebuloso);
    scrollbar-width: thin;
}
.planets-container::-webkit-scrollbar {
  height: 8px;
}
.planets-container::-webkit-scrollbar-track {
  background: var(--azul-nebuloso);
  border-radius: 4px;
}
.planets-container::-webkit-scrollbar-thumb {
  background-color: var(--amarillo-estrella);
  border-radius: 4px;
}
.planets-container::-webkit-scrollbar-thumb:hover {
  background-color: #ffd485; /* Un amarillo más claro al pasar el mouse */
}
.planet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative; 
    transition: transform 0.3s ease;
    flex-shrink: 0;
    margin: 0 35px
}
.planet-item:hover {
    transform: translateY(-10px);
}
.planet-image { 
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid transparent; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.planet-image:hover {
    border-color: var(--amarillo-estrella); 
    box-shadow: 0 0 20px var(--amarillo-estrella);
}

.planet-name { 
    color: var(--blanco-estelar);
    font-family: var(--font-text);
    font-size: 0.9em;
    margin-top: 8px;
    white-space: nowrap; 
}

.planet-concept { 
    position: absolute;
    top: -40px; 
    background: var(--morado);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-subtitle);
    font-size: 0.8em;
    color: var(--amarillo-estrella);
    white-space: nowrap; 
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.planet-item:hover .planet-concept { 
    opacity: 1;
}
.welcome-nav { 
  position: absolute;
  z-index: 10;
}
.welcome-nav.top-right {
    top: 20px;
    right: 20px;
}
.welcome-nav.bottom-right {
    bottom: 20px;
    right: 20px;
}
.welcome-nav button, .welcome-nav-back button {
  padding: 10px 20px;
  background-color: var(--amarillo-estrella);
  color: var(--negro);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-button);
  transition: all 0.3s ease;
}
.welcome-nav button:hover, .welcome-nav-back button:hover { 
    background-color: #fceb9a;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255,255,0,0.4);
}
.info-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.info-modal-content {
  background: var(--azul-nebuloso);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid var(--verde-estelar);
  width: 90%;
  max-width: 500px;
  position: relative;
}
.info-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: var(--blanco-estelar);
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}
.info-modal-close:hover { 
    transform: rotate(90deg) scale(1.2);
    color: var(--rojo-peligro);
}
.back-button-editor {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--azul-nebuloso);
  color: var(--amarillo-estrella);
  border: 2px solid var(--amarillo-estrella);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s;
  transition: all 0.3s ease;
}
.back-button-editor:hover {
  transform: scale(1.1) translateX(2px);
  background-color: var(--amarillo-estrella);
  color: var(--negro);
  border-color: var(--negro);
  box-shadow: 0 0 15px var(--amarillo-estrella);
}
.help-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--amarillo-estrella);
  color: var(--negro);
  border: 2px solid var(--blanco-estelar);
  font-family: var(--font-button);
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101; 
  transition: all 0.3s ease;
}
.help-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--amarillo-estrella);
}